<div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-lg overflow-hidden">
  <%= turbo_stream_from "#{dom_id(@conversation)}_messages" %>
  <div id="<%= dom_id(@conversation) %>_messages" class="flex flex-col flex-grow h-0 p-4 overflow-auto">
    <%= render @messages %>
  </div>

  <%= render partial: "messages/form", locals: { conversation: @conversation } %>
</div>
